@model VidlyTesting.ViewModels.MovieViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className =  Model.Customers.Count > 0 ? "popover-title" : null;
}

<h2 class= @className>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    //<p> No one has rented this movies before</p>
    <p> We dont have any customers yet</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@Html.ActionLink(customer.Name, "Details", "Customers", new { Id = customer.Id }, null)</li>
        }
    </ul>
}

